* *::before *::after { box-sizing: borderbox;
    margin :0px;
    padding :0;
    font-family:Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width:100%;
    height:100vh;
    background-color:linear-gradient(rgba(53, 82, 66 0.5),rgba( 47, 80, 63, 0.6));
    background-image:url(laptop3.jpg);
    background-position: center;
    background-repeat: no repeat;
    background-size:cover ;
    position:relative;
    overflow:hidden
}

.banner{ 
    width :100%;
    position :absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    }

.banner h1{ 
    color:white;
    font-size:80px;
    font-weight:300;
    margin-bottom:30px;
    animation-name: moveToLeft;
    animation-duration: 2s;
}

.banner span{ 
    text-transform :uppercase;
    font-weight:700;
    color:white
}

.banner p{ 
    font-size: 50px;
    font-weight:300;
    color:white;
    margin-bottom:20px;
    animation-name: moveToRight;
    animation-duration: 2s;
}

.banner button{
    width:180px;
    padding: 12px;
    margin: 20px; 
    border:2px solid white;
    border-radius:50px;
    font-size:18px;
    outline:none;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-left{
    background-color: white;
    color:#444;
    animation-name:btnanimated;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: backwards
}

.btn-right{
    background-color:Transparent;
    color:#eee;
    animation-name:btnanimated;
    animation-duration: 1s;
    animation-delay: 2.3s;
    animation-fill-mode: backwards
}

@keyframes moveToLeft{
    0% { 
     transform:translateX(120px);
     opacity: 0;
    }
    100% {
     transform:translateX(0);
     opacity: 1;
    }
}

@keyframes moveToRight{
    0% { 
     transform:translateX(-120px);
     opacity: 0;
    }
    100% {
     transform:translateX(0);
     opacity: 1;
    }
}
@keyframes btnanimated{
    0% { 
     opacity: 0;
    }
    100% {
     opacity: 1;
    }
}

