body {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 2em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* index section 1 */
.section1 {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation-name: headeranimated;
          animation-name: headeranimated;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  padding-top: 80px;
}

.section1 div {
  padding: 40px 90px;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  line-height: 1.5;
}

.section1 div h1 {
  font-size: 70px;
  color: green;
}

.section1 div p {
  color: brown;
  font-size: 20px;
}

.section1 div a {
  border: 2px solid black;
  border-radius: 10px;
  width: 250px;
  display: block;
  font-size: 40px;
  color: white;
  background-color: brown;
  padding: 10px;
  text-decoration: none;
  margin-top: 60px;
  text-align: center;
}

.section1 div a:hover {
  background-color: white;
  color: brown;
}

@-webkit-keyframes example {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    right: 100px;
    opacity: 1;
  }
  100% {
    top: 200px;
    opacity: 1;
  }
}

@keyframes example {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    right: 100px;
    opacity: 1;
  }
  100% {
    top: 200px;
    opacity: 1;
  }
}

.section2 {
  background-color: #ebebe8;
}

.section2 h1 {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  padding: 60px 0px 0px 0px;
}

.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 30px 0px;
}

.service-container .service {
  width: 500px;
  margin: 50px 0px;
  -webkit-box-shadow: brown;
          box-shadow: brown;
  background-color: white;
}

.service-container .images {
  width: 500px;
  height: 300px;
}

.service-container p {
  text-align: justify;
  color: black;
  font-size: 16px;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.service-container h2 {
  font-size: 35px;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
}

.service-container .imgwords {
  line-height: 2;
  padding: 20px;
}

.service-container h3 {
  color: red;
  font-size: 20px;
  text-align: left;
}

.section3 {
  background-image: url(../images/laptop5.jpeg);
  background-position: 100% -32px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
}

footer .social {
  text-align: center;
  padding-top: 30px;
  background-color: white;
  height: 30px;
  font-size: 18px;
}

footer .social img {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  border-radius: 50%;
}
/*# sourceMappingURL=index.css.map */